node_modules/
resources/public
public/js
package-lock.json
out
/target
/checkouts
/src/gen
.clj-kondo/.cache
pom.xml.asc
cljs-out
*.iml
*.jar
*.log
.shadow-cljs
.idea
.lein-*
.nrepl-*
.DS_Store
.hgignore
.hg/
