^{:watch-dirs ["test" "src"]
  :css-dirs ["resources/public/css"]
  :auto-testing true}
{:main simple-component.core
 :infer-externs true
 ;; :output-to "resources/public/cljs-out/dev-main.js"
 ;; :source-map "resources/public/cljs-out/dev-main.map.js"
 }
